[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MultipleBubbles"]
	path = MultipleBubbles
	url = https://github.com/cran/MultipleBubbles
	shallow = true
	registered = true
